@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura|Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    background-color: #666;
	margin: auto;
	padding: 0;
	display: block;
	/*font-family: 'Josefin Slab', serif;*/
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
.content_banner {
    width: 500px;
	background-color: #E34747;
    /* overflow: auto; */
    z-index: 1;
}
.img_in_banner{
	width: 120%;
	height:400%;
	margin:-50% -5% -266.6% -5%;
	margin-bottom:-450px;
	filter: blur(7px);
	-moz-filter: blur(7px);
	-webkit-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
}
.banner	{
	width: 75%;
	height: 670px;
	background-image: url("../img/sys/banner02.jpg");
	background-size: cover;
	margin: 70px auto 0;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	padding-top: 30px;
}
.banner_d {
	width: 75%;
	height:230px;
	position:relative;
	overflow:hidden;
	text-align:center;
	margin:70px auto;
	padding-top: 10px;
}
.cat_banner {
	// width: 100%;
	// height:250px;
	// position:relative;
	// overflow:hidden;
	// margin: -10px auto 20px;
	// text-align: center;
	// background-repeat: no-repeat;
    // background-position: 50% 50%;
}
.cat_banner_link {
	// width: 100%; 
	// height: 250px;
}
.cat_banner_link:hover {
	// background-color: rgba(0,0,0,.7);
	// transition: 0.7s;
}
.content_flayer2{
	width: 100%;
	margin:8% auto 0;
	position: absolute;
	text-transform: uppercase;
	text-align:center;
	color:#FFF;
}
// .button {
// 	margin: 10px 0;
// 	padding: 20px 40px;
// 	border-radius: 7px;
// 	background-color: green;
// 	text-transform: uppercase;
// 	font-size: 14px;
// 	color: white;
// 	border: 0;
// 	cursor: pointer;
// }
.pic_description {
	width: 44%;
	overflow: auto;
	color: #FFF;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding: 3%;
}
.pic_zoom {
	width: 70%;
	overflow: hidden;
	float: left;
}
.pic_details {
	width: 24%;
	overflow: auto;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding: 3%;
}
.ig_frame {
    width: 85%;
    height: 600px;
    background-color: #999;
    margin: 20px auto;
}
.bg_about_me {
	width: 75%;
	height: 1200px;
	position:relative;
	overflow:hidden;
	text-align:center;
	margin:70px auto 0;
	background-repeat: no-repeat;
	
	/*filter:brightness(0.4);*/
}
.bgd_about_me {
	width: 100%;
	height:1035px;
	padding-top: 30px;
	background-color: rgba(0,0,0,.3);
}
.bgd_contact {
	width: 100%;
	height:1180px;
	padding-top: 30px;
	background-color: rgba(0,0,0,.3);
}







/* iPhone 5/SE */
@media only screen and (min-width: 320px) and (-webkit-device-pixel-ratio : 2) {
	.wrapp{
		width:100%;
		overflow: auto;
		background-color: white;
		/* background-color: #E34747; */
	}
	.head {
		width: 100%;
		height: 200px;
		// background-image: linear-gradient(to bottom, white, rgba(235, 235, 235, 0.712), rgba(0, 0, 0, 0));
		background-color: #FFF;
		border-bottom: 1px solid #F00;
		display: flex;
		// position: absolute;
		z-index: 1;
	}
	.logo {
		height: 150px;
		/* background-color: brown; */
		float: left;
		padding: 20px 0 0 3%;
	}
	#menu {
		display: none;
	}
/*////////////////////////////////////////Mini menu//////////////////////////////////////////*/
	.config_m{
		flex: 1;
		text-align: left;
		padding-right: 10px;
		/* background-color: red; */
		display: block;
	}
	.config_m ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.config_m ul li a {
		margin: 0;
		padding: 0;
	}
	.config_m ul li a {
	/* width: 160px; */
		color: #999;
		font-size: 14px;
		padding: 32px 20px;
		text-decoration: none;
		display: block;
		text-align: center;
		float: right;
	}
	.config_m ul li a:hover {
		/* width: 160px; */
		/*background-color: #F7B500;*/
		color: #FFF;
	}

	.dropdown-config-content {
		display: none;
		position: absolute;
		background-color: #F0F0F0;
		border: 1px solid #333;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		/*padding: 12px 16px;*/
		margin: 181px 0;
		z-index: 100;
		top: 1px;
		right: 0px;
	}
	.config_m ul li:hover .dropdown-config-content {
		display: block;
	}
	.dropdown-config-content ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.dropdown-config-content ul li a{
		margin: 0;
		padding: 0;
	}
	.dropdown-config-content ul li a {
		width: 800px;
		color: #666;
		font-size: 70px;
		padding: 65px 90px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-config-content ul li a:hover {
		width: 800px;
		padding: 65px 90px;
		/* background-color: rgb(224, 223, 223); */
		/* color: #000; */
		color: #FFF;
	}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
	.content {
		width: 100%;
		overflow: auto;
		padding: 10px 0;
		// background-color: rgb(214, 77, 77);
		margin: 0 auto;
	}
	.content_flayer3{
		width:100%;
		/* background-color: #06C; */
		top: 10px;
		position:absolute;
		font-size: 30px;
		text-shadow: 1px 1px 15px #000;
	}
	.cat_banner {
		width: 100%;
		height:250px;
		position:relative;
		overflow:hidden;
		margin: -10px auto 20px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.cat_banner_link {
		width: 100%; 
		height: 250px;
	}
	.cat_banner_link:hover {
		background-color: rgba(0,0,0,.7);
		transition: 0.7s;
	}
	.button_boking {
		width: 330px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 20px auto 0;
		padding: 30px 0;
		color: #FFF;
		border: 0;
		font-size: 50px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_bok{
		width: 240px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 0 auto;
		padding: 15px 0;
		color: #FFF;
		border: 0;
		font-size: 30px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_a {
		margin: 20px 10px;
		padding: 14px 40px;
		border: 1px solid #666;
		border-radius: 7px;
		background-color: white;
		// text-transform: uppercase;
		font-size: 30px;
		color: #666;
		cursor: pointer;
		-webkit-appearance: none;
	}
	.button_a_small{
		background-color: #CCC ;
		color:#FFF;
		font-size: 50px;
		border-radius:7px;
		padding: 20px 40px;
		margin: 20px 10px;
		border: 0;
		-webkit-appearance: none;
	}
	.button_small{
		// background-color: #E34747 ;
		// color:#FFF;
		// font-size: 14px;
		// border-radius:7px;
		// margin: 0 5px;
		// padding: 9px 10px;
		// border: 0;
		// -webkit-appearance: none;
	}
	.button_small:hover{
		background:#999;
		color:#FFF;	
		-moz-transition: all 300ms ease-in-out 100ms;
		-ms-transition: all 300ms ease-in-out 100ms;
		-o-transition: all 300ms ease-in-out 100ms;
		-webkit-transition: all 300ms ease-in-out 100ms;
		transition: all 300ms ease-in-out 100ms;
	}
	.v_centrado {
		display: inline-block;
		vertical-align: middle;
		/* line-height: normal; */
	}
	.over_c{
		width: 85%;
		overflow: auto;
		margin:0 auto;
		padding: 10px 0 10px;
		background-color: #FFF;
		border-bottom: 2px solid #E34747;
		
	}
	.over_ct {
		width: 90%;
		padding: 40px 5%;
		font-size: 36px;
		/* line-height: 200px; */
		text-transform: uppercase;
		text-align: center;
	}
	.over_cc {
		width: 100%;
		padding: 0 0 10px;
		font-size: 12px;
		line-height: 1.8;
		text-align: justify;
	}
	.tabla_formulario {
		width: 95%;
		margin: 0 auto;
	}
	.bok_sidebar {
		width: 100%;
		min-height: 300px;
		padding: 200px 0 0 0;
		// background-color: #CCC;
	}
	.filtro_bok {
		width: 100%;
		margin: 0 auto 20px;
		min-height: 180px;
		overflow: auto;
		background-color: #FFF;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
	}
	.bok_content {
		width: 100%;
		min-height: 900px;
		padding: 150px 0 0;
		// background-color: darkorange;
		float: right;
	}
	@keyframes contAnimation {
		0% {
			opacity: 0;
			// transform: rotateY(-90deg) translateY(-40px);
		}
		50% {
			// transform: rotateY(30deg) translateY(5px);
		}
		100% {
			opacity: 1;
			// transform: rotateY(1) translateY(0px);
		}
	  }

	.u_info {
		width: 100%;
		height: 350px;
		background-color: brown;
		margin: 0 auto 20px;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		opacity: 0;
	}
	#aparecer {
		animation: contAnimation 0.9s ease-in-out forwards;
    	animation-delay: 0.1s;
	}

	.txt_b {
		width: 40%;
		height: 350px;
		background-color: #fafafa;
		line-height:1.5;
		float: right;
		padding: 0 5%;
		border-radius: 0 7px 7px 0;
	}
	.pic_b {
		width: 48%;
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fafafa;
		background-position: 50% 50%;
		object-fit: cover;
		object-position: center center;
		float: left;
		padding: 0 1%;
		overflow:hidden;
		text-align: center;
		border-radius: 7px 0 0 7px;
	}
	.bussing {
		width: 85%;
		// background-color: #E34747;
		overflow: auto;
		margin: 0 auto;
		padding: 0;
	}
	.cajita {
		width: 98%;
		height: 1200px;
		background-color: #FFF;
		margin: 30px auto;
		border-radius: 7px;
		-webkit-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		-moz-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
	}
	.caja_pic {
		width: 100%;
		height: 50%;
		border-radius: 7px 7px 0 0;
		// background-color: #999;
		overflow: hidden;
	}
	.caja_pic img {
		width: 120%;
		margin: -8% 0 0 -10%;
	}
	.caja_txt {
		width: 90%;
		height: 50%;
		// background-color: #fafafa;
		padding: 5%;
		color: #999;
	}
	.product_title {
		font-size: 50px;
		text-transform: uppercase;
		margin: 0;
	}
	.product_title_small {
		font-size: 35px;
		text-transform: uppercase;
		margin: 30px 0 0;
	}
	.span_producto {
		font-size: 30px;
		text-transform: none;
	}
	
	.texto_original_p {
		font-size: 39px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original {
		font-size: 40px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original_small {
		height: 130px;
		font-size: 30px;
		line-height: 1.5;
		margin-top: 20px;
		color: #666;
	}
	.texto_original_title {
		font-size: 45px;
		line-height: 1.5;
		margin: 20px 0 30px;
	}
	.texto_oferta {
		font-size: 35px;
		margin: 0 0 10px;
	}
	.texto_recibo {
		font-size: 30px;
		margin: 0 0 10px;
	}
	.filter_dropdown {
		width: 80%;
		font-size: 25px;
		color: #999;
		padding: 20px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 10px auto;
		color: #666;
		-webkit-appearance: none;
	}
	.public_frame {
		width: 99%;
		height: 400px;
		// background-color: brown;
		margin: 10px auto 0;
		display: flex;
		// border-radius: 7px;
		// -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// -moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

	}

	.foot {
		width: 100%;
		height: 250px;
		background-color: #222328;
		color: #9d9d9e;
		/* background-color: #eae5df; */
		border-bottom: 1px solid #999;
	}
	.foot_case {
		width: 80%;
		height: 100%;
		margin: 0 auto;
		display: flex;
	}
	.social {
		/* width: 10%; */
		height: 100%;
		/*background-color: forestgreen;*/
		flex: 1;
	}
	.adress {
		width: 80%;
		height: 100%;
		/* background-color: goldenrod; */
		text-align: center;
		/* flex: 1; */
	}
	.map {
		display: none;
		height: 100%;
		flex: 1;
	}

	.icon_box {
		width: 45%;
		/* height: 50px; */
		overflow: auto;
		/* background-color: blueviolet; */
		margin: 35px auto 0;
	}
	.icon {
		width: 60px;
		height: 60px;
		/* float: left; */
		margin: 15px 0;
	}
	.adress_text {
		margin: 45px 0 60px;
		padding-left: 25px;
		/* color: #FFF; */
		border-left: 1px solid #FFF;
		/* border-right: 1px solid #FFF; */
		font-size: 18px;
		/* background-color: crimson; */
	}
	.site_bottom {
		width: 100%;
		text-align: center;
		font-size: 18px;
		padding: 20px 0;
		color: #9d9d9e;
		background-color: #222328;
	}
	.site_bottom a {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
	}
	.site_bottom a:hover {
		color: #999;
	}

	.sidebar{
		width:20%;
		height:400px;
		margin-bottom:50px;
		padding:40px 5%;
		float:left;
		font-size: 13px;
		line-height: 1.8;
		text-align: justify;
		display: none;
	}
	.separador{
		width:95%;
		min-height: 480px;
		// background-color: red;
		padding: 0 0 20px;
		margin: 0 auto 50px;
		text-align: center;
		font-size: 13px;
		line-height: 1.8;
	}
	#distancia_contact_l {
		margin: 0 auto;
	}
	#distancia_contact_r {
		margin: 0 auto 20px;
	}
	.textfc {
		width: 90%;
		padding: 20px 15px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto 20px;
		font-size: 40px;
	}
	.textf {
		font-size: 20px;
		padding: 15px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
	}
	.area_textfc {
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
		padding: 20px 15px;
		height: 500px;
		width: 90%;
		font-size: 40px;
	}
	.form_frame {
        width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.76);
        position: fixed;
        top: 0;
        left: 0;
		display: none;
		opacity: 0;
        z-index: 1;
    }
	.formulario_week {
		width: 95%;
		background-color: #FFF;
		margin: 10 auto 0;
		padding: 10px 10px 0;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
	}
	.formulario_customer {
		width: 100%;
        background-color: #FFF;
		margin: 0 auto 0;
		padding: 20px 0;
        border-radius: 7px;
        -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

		// opacity: 0;
    }
	.formulario {
        background-color: #FFF;
		margin: 100 auto 0;
		padding: 10px;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
    }

	.scrollyears {
		width: 100%;
		height: 1400px;
		// background-color: #E34747;
	}
	.years_1 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
		margin: 0 0 20px;
	}
	.years_2 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
	}
	.year_title {
		width: 100%;
		height: 60px;
		padding: 5px 10px;
	}
}
/* iPhone X/11/12 */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
	.wrapp{
		width:100%;
		overflow: auto;
		background-color: white;
		/* background-color: #E34747; */
	}
	.head {
		width: 100%;
		height: 200px;
		// background-image: linear-gradient(to bottom, white, rgba(235, 235, 235, 0.712), rgba(0, 0, 0, 0));
		background-color: #FFF;
		border-bottom: 1px solid #F00;
		display: flex;
		// position: absolute;
		z-index: 1;
	}
	.logo {
		height: 150px;
		/* background-color: brown; */
		float: left;
		padding: 20px 0 0 3%;
	}
	#menu {
		display: none;
	}
/*////////////////////////////////////////Mini menu//////////////////////////////////////////*/
	.config_m{
		flex: 1;
		text-align: left;
		padding-right: 10px;
		/* background-color: red; */
		display: block;
	}
	.config_m ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.config_m ul li a {
		margin: 0;
		padding: 0;
	}
	.config_m ul li a {
	/* width: 160px; */
		color: #999;
		font-size: 14px;
		padding: 32px 20px;
		text-decoration: none;
		display: block;
		text-align: center;
		float: right;
	}
	.config_m ul li a:hover {
		/* width: 160px; */
		/*background-color: #F7B500;*/
		color: #FFF;
	}

	.dropdown-config-content {
		display: none;
		position: absolute;
		background-color: #F0F0F0;
		border: 1px solid #333;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		/*padding: 12px 16px;*/
		margin: 181px 0;
		z-index: 100;
		top: 1px;
		right: 0px;
	}
	.config_m ul li:hover .dropdown-config-content {
		display: block;
	}
	.dropdown-config-content ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.dropdown-config-content ul li a{
		margin: 0;
		padding: 0;
	}
	.dropdown-config-content ul li a {
		width: 800px;
		color: #666;
		font-size: 70px;
		padding: 65px 90px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-config-content ul li a:hover {
		width: 800px;
		padding: 65px 90px;
		/* background-color: rgb(224, 223, 223); */
		/* color: #000; */
		color: #FFF;
	}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
	.content {
		width: 100%;
		overflow: auto;
		padding: 10px 0;
		// background-color: rgb(214, 77, 77);
		margin: 0 auto;
	}
	.content_flayer3{
		width:100%;
		/* background-color: #06C; */
		top: 10px;
		position:absolute;
		font-size: 30px;
		text-shadow: 1px 1px 15px #000;
	}
	.cat_banner {
		width: 100%;
		height:250px;
		position:relative;
		overflow:hidden;
		margin: -10px auto 20px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.cat_banner_link {
		width: 100%; 
		height: 250px;
	}
	.cat_banner_link:hover {
		background-color: rgba(0,0,0,.7);
		transition: 0.7s;
	}
	.button_boking {
		width: 330px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 20px auto 0;
		padding: 30px 0;
		color: #FFF;
		border: 0;
		font-size: 50px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_bok{
		width: 240px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 0 auto;
		padding: 15px 0;
		color: #FFF;
		border: 0;
		font-size: 30px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_a {
		margin: 20px 10px;
		padding: 14px 40px;
		border: 1px solid #666;
		border-radius: 7px;
		background-color: white;
		// text-transform: uppercase;
		font-size: 30px;
		color: #666;
		cursor: pointer;
		-webkit-appearance: none;
	}
	.button_a_small{
		background-color: #CCC ;
		color:#FFF;
		font-size: 50px;
		border-radius:7px;
		padding: 20px 40px;
		margin: 20px 10px;
		border: 0;
		-webkit-appearance: none;
	}
	.button_small{
		background-color: #E34747 ;
		color:#FFF;
		font-size: 14px;
		border-radius:7px;
		margin: 0 5px;
		padding: 9px 10px;
		border: 0;
		-webkit-appearance: none;
	}
	.button_small:hover{
		background:#999;
		color:#FFF;	
		-moz-transition: all 300ms ease-in-out 100ms;
		-ms-transition: all 300ms ease-in-out 100ms;
		-o-transition: all 300ms ease-in-out 100ms;
		-webkit-transition: all 300ms ease-in-out 100ms;
		transition: all 300ms ease-in-out 100ms;
	}
	.v_centrado {
		display: inline-block;
		vertical-align: middle;
		/* line-height: normal; */
	}
	.over_c{
		width: 85%;
		overflow: auto;
		margin:0 auto;
		padding: 10px 0 10px;
		background-color: #FFF;
		border-bottom: 2px solid #E34747;
		
	}
	.over_ct {
		width: 90%;
		padding: 40px 5%;
		font-size: 36px;
		/* line-height: 200px; */
		text-transform: uppercase;
		text-align: center;
	}
	.over_cc {
		width: 100%;
		padding: 0 0 10px;
		font-size: 12px;
		line-height: 1.8;
		text-align: justify;
	}
	.tabla_formulario {
		width: 95%;
		margin: 0 auto;
	}
	.bok_sidebar {
		width: 100%;
		min-height: 300px;
		padding: 200px 0 0 0;
		// background-color: #CCC;
	}
	.filtro_bok {
		width: 100%;
		margin: 0 auto 20px;
		min-height: 180px;
		overflow: auto;
		background-color: #FFF;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
	}
	.bok_content {
		width: 100%;
		min-height: 900px;
		padding: 150px 0 0;
		// background-color: darkorange;
		float: right;
	}
	@keyframes contAnimation {
		0% {
			opacity: 0;
			// transform: rotateY(-90deg) translateY(-40px);
		}
		50% {
			// transform: rotateY(30deg) translateY(5px);
		}
		100% {
			opacity: 1;
			// transform: rotateY(1) translateY(0px);
		}
	  }

	.u_info {
		width: 100%;
		height: 350px;
		background-color: brown;
		margin: 0 auto 20px;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		opacity: 0;
	}
	#aparecer {
		animation: contAnimation 0.9s ease-in-out forwards;
    	animation-delay: 0.1s;
	}

	.txt_b {
		width: 40%;
		height: 350px;
		background-color: #fafafa;
		line-height:1.5;
		float: right;
		padding: 0 5%;
		border-radius: 0 7px 7px 0;
	}
	.pic_b {
		width: 48%;
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fafafa;
		background-position: 50% 50%;
		object-fit: cover;
		object-position: center center;
		float: left;
		padding: 0 1%;
		overflow:hidden;
		text-align: center;
		border-radius: 7px 0 0 7px;
	}
	.bussing {
		width: 85%;
		// background-color: #E34747;
		overflow: auto;
		margin: 0 auto;
		padding: 0;
	}
	.cajita {
		width: 98%;
		height: 1200px;
		background-color: #FFF;
		margin: 30px auto;
		border-radius: 7px;
		-webkit-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		-moz-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
	}
	.caja_pic {
		width: 100%;
		height: 50%;
		border-radius: 7px 7px 0 0;
		// background-color: #999;
		overflow: hidden;
	}
	.caja_pic img {
		width: 120%;
		margin: -8% 0 0 -10%;
	}
	.caja_txt {
		width: 90%;
		height: 50%;
		// background-color: #fafafa;
		padding: 5%;
		color: #999;
	}
	.product_title {
		font-size: 50px;
		text-transform: uppercase;
		margin: 0;
	}
	.product_title_small {
		font-size: 35px;
		text-transform: uppercase;
		margin: 30px 0 0;
	}
	.span_producto {
		font-size: 30px;
		text-transform: none;
	}
	
	.texto_original_p {
		font-size: 39px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original {
		font-size: 40px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original_small {
		height: 130px;
		font-size: 30px;
		line-height: 1.5;
		margin-top: 20px;
		color: #666;
	}
	.texto_original_title {
		font-size: 45px;
		line-height: 1.5;
		margin: 20px 0 30px;
	}
	.texto_oferta {
		font-size: 35px;
		margin: 0 0 10px;
	}
	.texto_recibo {
		font-size: 30px;
		margin: 0 0 10px;
	}
	.filter_dropdown {
		width: 80%;
		font-size: 25px;
		color: #999;
		padding: 20px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 10px auto;
		color: #666;
		-webkit-appearance: none;
	}
	.public_frame {
		width: 99%;
		height: 400px;
		// background-color: brown;
		margin: 10px auto 0;
		display: flex;
		// border-radius: 7px;
		// -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// -moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

	}

	.foot {
		width: 100%;
		height: 250px;
		background-color: #222328;
		color: #9d9d9e;
		/* background-color: #eae5df; */
		border-bottom: 1px solid #999;
	}
	.foot_case {
		width: 80%;
		height: 100%;
		margin: 0 auto;
		display: flex;
	}
	.social {
		/* width: 10%; */
		height: 100%;
		/*background-color: forestgreen;*/
		flex: 1;
	}
	.adress {
		width: 80%;
		height: 100%;
		/* background-color: goldenrod; */
		text-align: center;
		/* flex: 1; */
	}
	.map {
		display: none;
		height: 100%;
		flex: 1;
	}

	.icon_box {
		width: 45%;
		/* height: 50px; */
		overflow: auto;
		/* background-color: blueviolet; */
		margin: 35px auto 0;
	}
	.icon {
		width: 60px;
		height: 60px;
		/* float: left; */
		margin: 15px 0;
	}
	.adress_text {
		margin: 45px 0 60px;
		padding-left: 25px;
		/* color: #FFF; */
		border-left: 1px solid #FFF;
		/* border-right: 1px solid #FFF; */
		font-size: 18px;
		/* background-color: crimson; */
	}
	.site_bottom {
		width: 100%;
		text-align: center;
		font-size: 18px;
		padding: 20px 0;
		color: #9d9d9e;
		background-color: #222328;
	}
	.site_bottom a {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
	}
	.site_bottom a:hover {
		color: #999;
	}

	.sidebar{
		width:20%;
		height:400px;
		margin-bottom:50px;
		padding:40px 5%;
		float:left;
		font-size: 13px;
		line-height: 1.8;
		text-align: justify;
		display: none;
	}
	.separador{
		width:95%;
		min-height: 480px;
		// background-color: red;
		padding: 0 0 20px;
		margin: 0 auto 50px;
		text-align: center;
		font-size: 13px;
		line-height: 1.8;
	}
	#distancia_contact_l {
		margin: 0 auto;
	}
	#distancia_contact_r {
		margin: 0 auto 20px;
	}
	.textfc {
		width: 90%;
		padding: 20px 15px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto 20px;
		font-size: 40px;
	}
	.textf {
		font-size: 20px;
		padding: 15px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
	}
	.area_textfc {
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
		padding: 20px 15px;
		height: 500px;
		width: 90%;
		font-size: 40px;
	}
	.form_frame {
        width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.76);
        position: fixed;
        top: 0;
        left: 0;
		display: none;
		opacity: 0;
        z-index: 1;
    }
	.formulario_week {
		width: 95%;
		background-color: #FFF;
		margin: 10 auto 0;
		padding: 10px 10px 0;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
	}
	.formulario_customer {
		width: 100%;
        background-color: #FFF;
		margin: 0 auto 0;
		padding: 20px 0;
        border-radius: 7px;
        -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

		// opacity: 0;
    }
	.formulario {
        background-color: #FFF;
		margin: 100 auto 0;
		padding: 10px;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
    }

	.scrollyears {
		width: 100%;
		height: 1400px;
		// background-color: #E34747;
	}
	.years_1 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
		margin: 0 0 20px;
	}
	.years_2 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
	}
	.year_title {
		width: 100%;
		height: 60px;
		padding: 5px 10px;
	}
}

/*mobil plus*/
@media (min-width: 425px) {
    
}
/*surfplate/Ipad*/
@media (min-width: 768px) {
	.wrapp{
		width:100%;
		overflow: auto;
		background-color: white;
		/* background-color: #E34747; */
	}
	.head {
		width: 100%;
		height: 200px;
		// background-image: linear-gradient(to bottom, white, rgba(235, 235, 235, 0.712), rgba(0, 0, 0, 0));
		background-color: #FFF;
		border-bottom: 1px solid #F00;
		display: flex;
		// position: absolute;
		z-index: 1;
	}
	.logo {
		height: 150px;
		/* background-color: brown; */
		float: left;
		padding: 20px 0 0 3%;
	}
	#menu {
		display: none;
	}
/*////////////////////////////////////////Mini menu//////////////////////////////////////////*/
	.config_m{
		flex: 1;
		text-align: left;
		padding-right: 10px;
		/* background-color: red; */
		display: block;
	}
	.config_m ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.config_m ul li a {
		margin: 0;
		padding: 0;
	}
	.config_m ul li a {
	/* width: 160px; */
		color: #999;
		font-size: 14px;
		padding: 32px 20px;
		text-decoration: none;
		display: block;
		text-align: center;
		float: right;
	}
	.config_m ul li a:hover {
		/* width: 160px; */
		/*background-color: #F7B500;*/
		color: #FFF;
	}

	.dropdown-config-content {
		display: none;
		position: absolute;
		background-color: #F0F0F0;
		border: 1px solid #333;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		/*padding: 12px 16px;*/
		margin: 181px 0;
		z-index: 100;
		top: 1px;
		right: 0px;
	}
	.config_m ul li:hover .dropdown-config-content {
		display: block;
	}
	.dropdown-config-content ul {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 0;
	}
	.dropdown-config-content ul li a{
		margin: 0;
		padding: 0;
	}
	.dropdown-config-content ul li a {
		width: 800px;
		color: #666;
		font-size: 70px;
		padding: 65px 90px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-config-content ul li a:hover {
		width: 800px;
		padding: 65px 90px;
		/* background-color: rgb(224, 223, 223); */
		/* color: #000; */
		color: #FFF;
	}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
	.content {
		width: 100%;
		overflow: auto;
		padding: 10px 0;
		// background-color: rgb(214, 77, 77);
		margin: 0 auto;
	}
	.content_flayer3{
		width:100%;
		/* background-color: #06C; */
		top: 10px;
		position:absolute;
		font-size: 30px;
		text-shadow: 1px 1px 15px #000;
	}
	.cat_banner {
		width: 100%;
		height:250px;
		position:relative;
		overflow:hidden;
		margin: -10px auto 20px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.cat_banner_link {
		width: 100%; 
		height: 250px;
	}
	.cat_banner_link:hover {
		background-color: rgba(0,0,0,.7);
		transition: 0.7s;
	}
	.button_boking {
		width: 330px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 20px auto 0;
		padding: 30px 0;
		color: #FFF;
		border: 0;
		font-size: 50px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_bok{
		width: 240px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 0 auto;
		padding: 15px 0;
		color: #FFF;
		border: 0;
		font-size: 30px;
		text-align: center;
		-webkit-appearance: none;
	}
	.button_a {
		margin: 20px 10px;
		padding: 14px 40px;
		border: 1px solid #666;
		border-radius: 7px;
		background-color: white;
		// text-transform: uppercase;
		font-size: 30px;
		color: #666;
		cursor: pointer;
		-webkit-appearance: none;
	}
	.button_a_small{
		background-color: #CCC ;
		color:#FFF;
		font-size: 50px;
		border-radius:7px;
		padding: 20px 40px;
		margin: 20px 10px;
		border: 0;
		-webkit-appearance: none;
	}
	.button_small{
		// width: 330px;
		// height: 100px;
		background-color: #E34747 ;
		color:#FFF;
		font-size: 50px;
		border-radius:7px;
		margin: 10px auto 0;
		padding: 10px 20px;
		border: 0;
		-webkit-appearance: none;
	}
	.button_small:hover{
		background:#999;
		color:#FFF;	
		-moz-transition: all 300ms ease-in-out 100ms;
		-ms-transition: all 300ms ease-in-out 100ms;
		-o-transition: all 300ms ease-in-out 100ms;
		-webkit-transition: all 300ms ease-in-out 100ms;
		transition: all 300ms ease-in-out 100ms;
	}
	.v_centrado {
		display: inline-block;
		vertical-align: middle;
		/* line-height: normal; */
	}
	.over_c{
		width: 85%;
		overflow: auto;
		margin:0 auto;
		padding: 10px 0 10px;
		background-color: #FFF;
		border-bottom: 2px solid #E34747;
		
	}
	.over_ct {
		width: 90%;
		padding: 40px 5%;
		font-size: 36px;
		/* line-height: 200px; */
		text-transform: uppercase;
		text-align: center;
	}
	.over_cc {
		width: 100%;
		padding: 0 0 10px;
		font-size: 12px;
		line-height: 1.8;
		text-align: justify;
	}
	.tabla_formulario {
		width: 95%;
		margin: 0 auto;
	}
	.bok_sidebar {
		width: 100%;
		min-height: 300px;
		padding: 200px 0 0 0;
		// background-color: #CCC;
	}
	.filtro_bok {
		width: 100%;
		margin: 0 auto 20px;
		min-height: 180px;
		overflow: auto;
		background-color: #FFF;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
	}
	.bok_content {
		width: 100%;
		min-height: 900px;
		padding: 150px 0 0;
		// background-color: darkorange;
		float: right;
	}
	@keyframes contAnimation {
		0% {
			opacity: 0;
			// transform: rotateY(-90deg) translateY(-40px);
		}
		50% {
			// transform: rotateY(30deg) translateY(5px);
		}
		100% {
			opacity: 1;
			// transform: rotateY(1) translateY(0px);
		}
	  }

	.u_info {
		width: 100%;
		height: 350px;
		background-color: brown;
		margin: 0 auto 20px;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		opacity: 0;
	}
	#aparecer {
		animation: contAnimation 0.9s ease-in-out forwards;
    	animation-delay: 0.1s;
	}

	.txt_b {
		width: 40%;
		height: 350px;
		background-color: #fafafa;
		line-height:1.5;
		float: right;
		padding: 0 5%;
		border-radius: 0 7px 7px 0;
	}
	.pic_b {
		width: 48%;
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fafafa;
		background-position: 50% 50%;
		object-fit: cover;
		object-position: center center;
		float: left;
		padding: 0 1%;
		overflow:hidden;
		text-align: center;
		border-radius: 7px 0 0 7px;
	}
	.bussing {
		width: 85%;
		// background-color: #E34747;
		overflow: auto;
		margin: 0 auto;
		padding: 0;
	}
	.cajita {
		width: 98%;
		height: 1200px;
		background-color: #FFF;
		margin: 30px auto;
		border-radius: 7px;
		-webkit-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		-moz-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
	}
	.caja_pic {
		width: 100%;
		height: 50%;
		border-radius: 7px 7px 0 0;
		// background-color: #999;
		overflow: hidden;
	}
	.caja_pic img {
		width: 120%;
		margin: -8% 0 0 -10%;
	}
	.caja_txt {
		width: 90%;
		height: 50%;
		// background-color: #fafafa;
		padding: 5%;
		color: #999;
	}
	.product_title {
		font-size: 50px;
		text-transform: uppercase;
		margin: 0;
	}
	.product_title_small {
		font-size: 35px;
		text-transform: uppercase;
		margin: 30px 0 0;
	}
	.span_producto {
		font-size: 30px;
		text-transform: none;
	}
	
	.texto_original_p {
		font-size: 39px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original {
		font-size: 40px;
		line-height: 1.5;
		margin-top: 0;
	}
	.texto_original_small {
		height: 130px;
		font-size: 30px;
		line-height: 1.5;
		margin-top: 20px;
		color: #666;
	}
	.texto_original_title {
		font-size: 45px;
		line-height: 1.5;
		margin: 20px 0 30px;
	}
	.texto_oferta {
		font-size: 35px;
		margin: 0 0 10px;
	}
	.texto_recibo {
		font-size: 30px;
		margin: 0 0 10px;
	}
	.filter_dropdown {
		width: 80%;
		font-size: 25px;
		color: #999;
		padding: 20px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 10px auto;
		color: #666;
		-webkit-appearance: none;
	}
	.public_frame {
		width: 99%;
		height: 400px;
		// background-color: brown;
		margin: 10px auto 0;
		display: flex;
		// border-radius: 7px;
		// -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// -moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

	}

	.foot {
		width: 100%;
		height: 250px;
		background-color: #222328;
		color: #9d9d9e;
		/* background-color: #eae5df; */
		border-bottom: 1px solid #999;
	}
	.foot_case {
		width: 80%;
		height: 100%;
		margin: 0 auto;
		display: flex;
	}
	.social {
		/* width: 10%; */
		height: 100%;
		/*background-color: forestgreen;*/
		flex: 1;
	}
	.adress {
		width: 80%;
		height: 100%;
		/* background-color: goldenrod; */
		text-align: center;
		/* flex: 1; */
	}
	.map {
		display: none;
		height: 100%;
		flex: 1;
	}

	.icon_box {
		width: 45%;
		/* height: 50px; */
		overflow: auto;
		/* background-color: blueviolet; */
		margin: 35px auto 0;
	}
	.icon {
		width: 60px;
		height: 60px;
		/* float: left; */
		margin: 15px 0;
	}
	.adress_text {
		margin: 45px 0 60px;
		padding-left: 25px;
		/* color: #FFF; */
		border-left: 1px solid #FFF;
		/* border-right: 1px solid #FFF; */
		font-size: 18px;
		/* background-color: crimson; */
	}
	.site_bottom {
		width: 100%;
		text-align: center;
		font-size: 18px;
		padding: 20px 0;
		color: #9d9d9e;
		background-color: #222328;
	}
	.site_bottom a {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
	}
	.site_bottom a:hover {
		color: #999;
	}

	.sidebar{
		width:20%;
		height:400px;
		margin-bottom:50px;
		padding:40px 5%;
		float:left;
		font-size: 13px;
		line-height: 1.8;
		text-align: justify;
		display: none;
	}
	.separador{
		width:95%;
		min-height: 480px;
		// background-color: red;
		padding: 0 0 20px;
		margin: 0 auto 50px;
		text-align: center;
		font-size: 13px;
		line-height: 1.8;
	}
	#distancia_contact_l {
		margin: 0 auto;
	}
	#distancia_contact_r {
		margin: 0 auto 20px;
	}
	.textfc {
		width: 90%;
		padding: 20px 15px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto 20px;
		font-size: 40px;
	}
	.textf {
		font-size: 20px;
		padding: 15px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
	}
	.area_textfc {
		border: 1px solid #999;
		border-radius: 7px;
		margin: 20px auto;
		padding: 20px 15px;
		height: 500px;
		width: 90%;
		font-size: 40px;
	}
	.form_frame {
        width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.76);
        position: fixed;
        top: 0;
        left: 0;
		display: none;
		opacity: 0;
        z-index: 1;
    }
	.formulario_week {
		width: 95%;
		background-color: #FFF;
		margin: 10 auto 0;
		padding: 10px 10px 0;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
	}
	.formulario_customer {
		width: 100%;
        background-color: #FFF;
		margin: 0 auto 0;
		padding: 20px 0;
        border-radius: 7px;
        -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

		// opacity: 0;
    }
	.formulario {
        background-color: #FFF;
		margin: 100 auto 0;
		padding: 10px;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
    }

	.scrollyears {
		width: 100%;
		height: 1400px;
		// background-color: #E34747;
	}
	.years_1 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
		margin: 0 0 20px;
	}
	.years_2 {
		width: 100%;
		height: 690px;
		// background-color: blue;
		// float: left;
	}
	.year_title {
		width: 100%;
		height: 60px;
		padding: 5px 10px;
	}
}
/*desktop*/
@media (min-width: 1024px) {
	.wrapp{
		width:98%;
		overflow: auto;
		background-color: white;
		/* background-color: #E34747; */
		-webkit-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
		margin:1% auto;
	}
	.head {
		width: 100%;
		height: 100px;
		// background-image: linear-gradient(to bottom, white, rgba(218, 218, 218, 0.555), rgba(0, 0, 0, 0));
		background-color: #FFF;
		border-bottom: 1px solid #F00;
		display: flex;
		// position: absolute;
		z-index: 1;
	}
	.logo {
		height: 80px;
		/* background-color: brown; */
		float: left;
		padding: 10px 0 10px 5%;
	}

	.config_m{
		flex: 1;
		text-align: left;
		padding-right: 10px;
		/* background-color: red; */
		display: none;
	}

	#menu {
		flex: 1;
		// height: 180px;
		padding: 0 5% 0 0;
		// background-color: cadetblue;
		display: block;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		text-align: right;
		font-size: 12px;
	}
	#menu ul {
		padding: 0;
		margin: 0;
	}
	#menu ul li {
		float: right;
		list-style: none;
		padding: 40px 3% 42px;
		// background-color: blueviolet;
		
	}
	#menu a {
		text-decoration: none;
		// text-transform: uppercase;
		color: #333;
		font-size: 16px;
	}
	#menu a:hover {
		color: #E34747;
	}
	#menu a.active {
		color: #F00;
	}
	/*////////////////////////////////////////Mini menu//////////////////////////////////////////*/
	.content {
		width: 100%;
		overflow: hidden;
		padding: 10px 0;
		/* background-color: rgb(214, 77, 77); */
		margin:0 auto;
	}
	.content_flayer3{
		width:100%;
		/* background-color: #06C; */
		margin: 6% 0 0 0;
		position:absolute;
		font-size: 18px;
		text-shadow: 1px 1px 15px #000;
	}
	.bussing {
		width: 85%;
		/* background-color: #E34747; */
		overflow: auto;
		margin: 0 auto;
		padding: 0 0 10px;
	}
	.cajita {
		width: 32.3%;
		height: 480px;
		background-color: #FFF;
		margin: 10px 0.5% 0;
		border-radius: 7px;
		float: left;
		-webkit-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		-moz-box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
		box-shadow: 0px 1px 11px -3px rgba(138,136,138,1);
	}
	.caja_pic {
		width: 100%;
		height: 60%;
		border-radius: 7px 7px 0 0;
		// background-color: #999;
		overflow: hidden;
	}
	.caja_pic img {
		width: 120%;
		margin: -8% 0 0 -10%;
	}
	.caja_txt {
		width: 90%;
		height: 30%;
		// background-color: #fafafa;
		padding:5%;
		color: #999;
	}
	.caja_video {
		margin: 0;
	}
	.product_title {
		font-size: 16px;
		text-transform: uppercase;
		margin: 0;
	}
	.product_title_small {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.span_producto {
		font-size:12px;
		text-transform: none;
	}

	.v_centrado {
		display: inline-block;
		vertical-align: middle;
		/* line-height: normal; */
	}
	.over_c{
		width: 85%;
		overflow: auto;
		margin: 0 auto;
		padding: 10px 0;
		background-color: #FFF;
		border-bottom: 1px solid #E34747;
		
	}
	.over_ct {
		width: 15%;
		float: left;
		padding: 15px 5% 0;
		font-size: 18px;
	}
	.over_cc {
		width: 70%;
		float: right;
		padding: 10px 0 10px 5%;
		line-height: 2;
		text-align: justify;
	}
	.bok_sidebar {
		width: 25%;
		min-height: 900px;
		padding: 150px 0 0 0;
		/* background-color: #CCC; */
		float: left;
	}
	.bok_content {
		width: 75%;
		min-height: 900px;
		padding: 150px 0 0;
		/* background-color: darkorange; */
		float: right;
	}
	.filtro_bok {
		width: 95%;
		margin: 0 auto 20px;
		min-height: 180px;
		overflow: auto;
		background-color: #FFF;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
	}
	.tabla_formulario {
		width: 90%;
		margin: 0 auto;
	}
	.button_small {
		background-color: #E34747 ;
		color:#FFF;
		font-size: 14px;
		border-radius:7px;
		margin: 0 5px;
		padding: 9px 10px;
		border: 0;
	}
	.button_small:hover{
		background:#999;
		color:#FFF;	
		-moz-transition: all 300ms ease-in-out 100ms;
		-ms-transition: all 300ms ease-in-out 100ms;
		-o-transition: all 300ms ease-in-out 100ms;
		-webkit-transition: all 300ms ease-in-out 100ms;
		transition: all 300ms ease-in-out 100ms;
	}
	.button_a_small{
		background-color: #CCC ;
		color:#FFF;
		font-size: 14px;
		border-radius:7px;
		padding:9px 10px;
		margin: 0 5px;
		border: 0;
	}
	.button_a_small:hover{
		background:#999;
		color:#FFF;	
		-moz-transition: all 300ms ease-in-out 100ms;
		-ms-transition: all 300ms ease-in-out 100ms;
		-o-transition: all 300ms ease-in-out 100ms;
		-webkit-transition: all 300ms ease-in-out 100ms;
		transition: all 300ms ease-in-out 100ms;
	}

	.button_boking {
		width: 170px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 20px auto 0;
		padding: 20px 0;
		color: #FFF;
		border: 0;
		font-size: 16px;
		text-align: center;
	}
	.button_bok{
		width: 170px;
		background-color: #E34747;
		/*background-color: #82C040;*/
		border-radius: 7px;
		margin: 0 auto;
		padding: 10px 0;
		color: #FFF;
		border: 0;
		font-size: 16px;
		text-align: center;
	}
	.button_a {
		margin: 10px 0;
		padding: 10px 40px;
		border: 1px solid #666;
		border-radius: 7px;
		background-color: white;
		text-transform: uppercase;
		font-size: 14px;
		color: #666;
		cursor: pointer;
	}


	@keyframes contAnimation {
		0% {
			opacity: 0;
			// transform: rotateY(-90deg) translateY(-40px);
		}
		50% {
			// transform: rotateY(30deg) translateY(5px);
		}
		100% {
			opacity: 1;
			// transform: rotateY(1) translateY(0px);
		}
	  }

	.u_info {
		width: 95%;
		height: 350px;
		/* background-color: brown; */
		margin: 0 1.5% 20px 3.5%;
		border-radius: 7px;
		-webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

		opacity: 0;
	}
	#aparecer {
		animation: contAnimation 0.9s ease-in-out forwards;
    	animation-delay: 0.1s;
	}
	.txt_b {
		width: 40%;
		height: 350px;
		background-color: #fafafa;
		line-height:1.5;
		float: right;
		padding: 0 5%;
		border-radius: 0 7px 7px 0;
	}
	.pic_b {
		width: 48%;
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fafafa;
		background-position: 50% 50%;
		object-fit: cover;
		object-position: center center;
		float: left;
		padding: 0 1%;
		overflow:hidden;
		text-align: center;
		border-radius: 7px 0 0 7px;
	}

	.public_frame {
		width: 99%;
		height: 400px;
		// background-color: brown;
		margin: 10px auto 0;
		display: flex;
		// border-radius: 7px;
		// -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// -moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		// box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

	}
	.public_pic {
		// width: 48%;
		flex: 1;
		height: 400px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fafafa;
		background-position: 50% 50%;
		object-fit: cover;
		object-position: center;
		padding: 0 1%;
		overflow: hidden;
		text-align: center;
		// border-radius: 7px 0 0 7px;
	}
	.public_txt {
		// width: 40%;
		flex: 1;
		// height: 400px;
		// text-align: center;
		// background-color: #fafafa;
		padding: 0 5%;
		// border-radius: 0 7px 7px 0;
	}
	.texto_original_p {
		font-size: 16px;
		line-height:1.5;
		margin-top: 0;
	}
	.texto_original {
		font-size: 14px;
		line-height:25px;
		margin-top: 0;
	}
	.texto_original_title {
		font-size: 14px;
		line-height:25px;
		margin-top: 0;
	}
	.texto_original_small {
		height: 230px;
		font-size: 14px;
		line-height:25px;
		margin-top: 0;
	}
	.texto_oferta{
		font-size:14px;
	}
	.texto_recibo {
		font-size:14px;
	}
	.filter_dropdown {
		width: 100px;
		font-size: 14px;
		color: #999;
		padding: 7px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 0 auto;
	}

	.form_frame {
        width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.76);
        position: fixed;
        top: 0;
        left: 0;
		display: none;
		opacity: 0;
        z-index: 1;
    }
	.formulario {
        background-color: #FFF;
		margin: 100 auto 0;
		padding: 10px;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
    }
	.formulario_week {
		width: 810px;
        background-color: #FFF;
		margin: 100 auto 0;
		padding: 10px;
        border: 1px solid #dddfeb;
        border-radius: 7px;
        /* position: fixed;
        left: 50%; */
    }
	.formulario_customer {
		width: 600px;
        background-color: #FFF;
		margin: 0 auto 0;
		padding: 20px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		-moz-box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);
		box-shadow: 0px 3px 22px -12px rgba(138,136,138,1);

		// opacity: 0;
    }
	.scrollyears {
		width: 810px;
		height: 380px;
		// background-color: #E34747;
	}
	.years_1 {
		width: 400px;
		height: 380px;
		// background-color: blue;
		float: left;
		margin: 0 10px 0 0;
	}
	.years_2 {
		width: 400px;
		height: 380px;
		// background-color: blue;
		float: left;
	}
	.year_title {
		width: 400px;
		height: 20px;
		padding: 5px 10px;
	}


	// .cat_banner {
	// 	width: 85%;
	// 	height: 250px;
	// 	background-color: #E34747;
	// 	position:relative;
	// 	overflow:hidden;
	// 	margin: 110px auto 50px;
	// 	text-align: center;
	// 	background-repeat: no-repeat;
	// 	background-position: 50% 50%;
	// }


	.contact_content{
		width: 84.5%;
		height: 480px;
		margin: 10px auto 20px;

		-webkit-box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
		-moz-box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
		box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
	}
	.separador{
		width:70%;
		height: 480px;
		float:right;
		margin: 0 auto 50px;
		font-size: 13px;
		line-height: 1.8;
	}
	#distancia_contact_r {
		margin:0 5% 0 0;
	}
	#distancia_contact_l {
		margin:0 0 0 5%;
	}
	.textfc {
		width: 40%;
		padding: 7px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 0 auto;
	}
	.textf {
		padding: 7px 5px;
		border: 1px solid #999;
		border-radius: 7px;
		margin: 0 auto;
	  }
	.area_textfc {
		margin: 20px auto;
		height: 188px;
		width: 90%;
	}
	.sidebar{
		width:20%;
		height:400px;
		margin-bottom:50px;
		padding:40px 5%;
		float:left;
		font-size: 13px;
		line-height: 1.8;
		text-align: justify;
		display: block;
	}

	.foot {
		width: 100%;
		height: 210px;
		background-color: #222328;
		color: #9d9d9e;
		/* background-color: #eae5df; */
		border-bottom: 1px solid #999;
	}
	.foot_case {
		width: 85%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		/* background-color: #E34747; */
	}
	.social {
		height: 100%;
		/*background-color: forestgreen;*/
		flex: 1;
		text-align: center;
	}
	.adress {
		height: 100%;
		/*background-color: goldenrod;*/
		text-align: left;
		flex: 1;
	}
	.map {
		height: 100%;
		flex: 1;
		display: block;
	}
	.icon_box {
		width: 64%;
		/* height: 50px; */
		overflow: auto;
		/* background-color: blueviolet; */
		margin: 80px auto 0;
	}
	.icon {
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 25px;
		/* background-color: crimson; */
	}
	.adress_text {
		margin: 45px 0 60px;
		padding-left: 25px;
		/* color: #FFF; */
		border-left: 1px solid #FFF;
		border-right: 1px solid #FFF;
		font-size: 14px;
	}
	.site_bottom {
		width: 100%;
		text-align: center;
		font-size: 12px;
		padding: 10px 0;
		color: #9d9d9e;
		background-color: #222328;
	}
	.site_bottom a {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
	}
	.site_bottom a:hover {
		color: #999;
	}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
}